@{
    ViewBag.Title = "Hangar";
}

@using (Html.BeginForm("Upload", "HoloTable", FormMethod.Post, new { id = "form-upload" }))
{ }

<hgroup>
    <h1>Your Hangar has been removed.</h1>
    <h2>You must re-upload your Inventory XML to continue.</h2>
</hgroup>

<div class="row cig-content">
    @Html.Partial("_GettingStarted")
    @Html.Partial("_Instructions")
    @Html.Partial("_Support")
</div>
