@using Inventory = HoloXPLOR.Data.XML.Inventory
@using Items = HoloXPLOR.Data.XML.Spaceships
@using Vehicles = HoloXPLOR.Data.XML.Vehicles.Implementations
@using HoloXPLOR.Models.HoloTable

@model DetailModel

@{
    ViewBag.Title = "Hangar";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Hangar</h2>
    </div>

    <div class="col-sm-4">
        <h3>Ships</h3>

        <ul>
            @foreach (var ship in Model.GameData_ShipMap)
            {
                <li data-class="@ship.Value.Name">
                    @Html.ActionLink(ship.Value.DisplayName, "Ship", new { id = Model.CurrentXML, shipID = ship.Key })
                    <!-- Insert Hardpoint Overview Here -->
                </li>
            }
        </ul>
    </div>

    <div class="col-sm-8">
        @{ Html.RenderPartial("_Items", Model); }
    </div>
</div>