.gutter-5 .row { margin-left: -5px; margin-right: -5px; }
.gutter-5 .col-xs-1, .gutter-5 .col-xs-2, .gutter-5 .col-xs-3, .gutter-5 .col-xs-4, .gutter-5 .col-xs-5, .gutter-5 .col-xs-6, .gutter-5 .col-xs-7, .gutter-5 .col-xs-8, .gutter-5 .col-xs-9, .gutter-5 .col-xs-10, .gutter-5 .col-xs-11, .gutter-5 .col-xs-12,
.gutter-5 .col-sm-1, .gutter-5 .col-sm-2, .gutter-5 .col-sm-3, .gutter-5 .col-sm-4, .gutter-5 .col-sm-5, .gutter-5 .col-sm-6, .gutter-5 .col-sm-7, .gutter-5 .col-sm-8, .gutter-5 .col-sm-9, .gutter-5 .col-sm-10, .gutter-5 .col-sm-11, .gutter-5 .col-sm-12,
.gutter-5 .col-md-1, .gutter-5 .col-md-2, .gutter-5 .col-md-3, .gutter-5 .col-md-4, .gutter-5 .col-md-5, .gutter-5 .col-md-6, .gutter-5 .col-md-7, .gutter-5 .col-md-8, .gutter-5 .col-md-9, .gutter-5 .col-md-10, .gutter-5 .col-md-11, .gutter-5 .col-md-12,
.gutter-5 .col-lg-1, .gutter-5 .col-lg-2, .gutter-5 .col-lg-3, .gutter-5 .col-lg-4, .gutter-5 .col-lg-5, .gutter-5 .col-lg-6, .gutter-5 .col-lg-7, .gutter-5 .col-lg-8, .gutter-5 .col-lg-9, .gutter-5 .col-lg-10, .gutter-5 .col-lg-11, .gutter-5 .col-lg-12 {
    padding-right: 5px;
    padding-left: 5px;
}
.gutter-5 .panel { margin-bottom: 10px; }
.gutter-5 h1, .gutter-5 h2, .gutter-5 h3, .gutter-5 h4, .gutter-5 h5 { margin-top: 10px; }

.gutter-10 .row { margin-left: -10px; margin-right: -10px; }
.gutter-10 .col-xs-1, .gutter-10 .col-xs-2, .gutter-10 .col-xs-3, .gutter-10 .col-xs-4, .gutter-10 .col-xs-10, .gutter-10 .col-xs-6, .gutter-10 .col-xs-7, .gutter-10 .col-xs-8, .gutter-10 .col-xs-9, .gutter-10 .col-xs-10, .gutter-10 .col-xs-11, .gutter-10 .col-xs-12,
.gutter-10 .col-sm-1, .gutter-10 .col-sm-2, .gutter-10 .col-sm-3, .gutter-10 .col-sm-4, .gutter-10 .col-sm-10, .gutter-10 .col-sm-6, .gutter-10 .col-sm-7, .gutter-10 .col-sm-8, .gutter-10 .col-sm-9, .gutter-10 .col-sm-10, .gutter-10 .col-sm-11, .gutter-10 .col-sm-12,
.gutter-10 .col-md-1, .gutter-10 .col-md-2, .gutter-10 .col-md-3, .gutter-10 .col-md-4, .gutter-10 .col-md-10, .gutter-10 .col-md-6, .gutter-10 .col-md-7, .gutter-10 .col-md-8, .gutter-10 .col-md-9, .gutter-10 .col-md-10, .gutter-10 .col-md-11, .gutter-10 .col-md-12,
.gutter-10 .col-lg-1, .gutter-10 .col-lg-2, .gutter-10 .col-lg-3, .gutter-10 .col-lg-4, .gutter-10 .col-lg-10, .gutter-10 .col-lg-6, .gutter-10 .col-lg-7, .gutter-10 .col-lg-8, .gutter-10 .col-lg-9, .gutter-10 .col-lg-10, .gutter-10 .col-lg-11, .gutter-10 .col-lg-12 {
    padding-right: 10px;
    padding-left: 10px;
}
.gutter-10 .panel { margin-bottom: 15px; }
.gutter-10 h1, .gutter-10 h2, .gutter-10 h3, .gutter-10 h4, .gutter-10 h5 { margin-top: 15px; }

body {
    padding-top: 60px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav-tabs li, .panel-heading {
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                    not supported by any browser */
}

[data-draggable] { 
    cursor: move;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                    not supported by any browser */
}

[data-draggable] label {
    cursor: move;
}

.ui-table {
    display: table;
    height: 100%;
    width: 100%;
}
.ui-table-cell {
    display: table-cell;
    vertical-align: middle;
    margin: 0px auto;
}

[data-toggle] {
    cursor: pointer;
}

/**/

html { background: #133247; height: 100%; }

body {
    background: black url(../images/shipcatalogue_bg_grid.png) repeat;
    background: rgba(0, 0, 0, 0.9) url(../images/shipcatalogue_bg_grid.png) repeat 20px top;
    color: #4bcaff;
    min-height: 100%;
}

.body-container { height: 100%; }

.ui-container {
    background: url(../images/shipcatalogue_bg_blackfadetop.png) repeat-x top,
				url(../images/shipcatalogue_bg_blackfadebottom.png) repeat-x bottom,
				url(../images/shipcatalogue_bg_blueoverlay.png) repeat left, 
				url(../images/shipcatalogue_bg_techlines.png) repeat -1px 92px,
				url(../images/shipcatalogue_bg_blocks.png) repeat -124px top;
	border: solid 1px #4588e0;
    padding: 30px 25px;
    height: 100%;
}

.nav-tabs {
	width: 100%;
    padding-left: 0px !important;
    border-bottom: 0px none;
    clear: both;
    text-indent: 50px;
}

.nav-tabs li { z-index: 1; position: relative; margin-bottom: 2px; height: 22px; margin-right: -50px; text-indent: 0px; }
.nav-tabs li.active { z-index: 2; }
.nav-tabs li a {
    text-transform: uppercase;
    border: 0px none !important;
    background-color: transparent !important;
	background: url(../images/shipcatalogue_sprite.png) no-repeat;
	height: 22px;
	display: inline-block;
	line-height: 22px; 
	font-size: 10px;
	font-weight: bold;
	color: #5989a4 !important;
	text-align: center;
	transition: color 0.3s;
	-moz-transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-o-transition: color 0.3s;
}
.nav-tabs a:hover { color: #fff !important; border: 0px none; text-decoration: none; }
.nav-tabs li.active a { color: #fff !important; }
.nav-tabs li a {
	background-position: -294px -175px;
	width: 136px;
	padding-right: 2px;
    outline: 0;
}
.nav-tabs li a:focus { text-decoration: none; }
.nav-tabs li:first-child a {
	background-position: -294px -131px;
	width: 106px;
}
.nav-tabs li:first-child a { text-indent: -30px; }
.nav-tabs li:first-child.active a { background-position: -294px -153px; }
.nav-tabs li.active a { background-position: -294px -197px; }

.tab-content {
    border: solid 1px #3089b6;
    padding: 10px;
    background-color: rgba(21, 57, 102, 0.3);
    position: relative;
    max-height: 90%;
    overflow: hidden;
    padding-right: 20px;
    clear: both;
}

.ui-thumbnail { margin-bottom: 10px; }

.ui-thumbnail img { width: 100%; }

#primary-pane-scrollbar { position: relative; }

.js-scrollable { position: relative; }
.js-scrollable .js-hardpoint { float: right; clear: right; text-indent: 0px; overflow: visible; margin-bottom: 5px; }
.js-scrollable .js-hardpoint label {
    display: block;
    white-space: nowrap;
    position: absolute;
    right: 40px;
    max-width: inherit;
    line-height: 32px;
}

.js-equipped { cursor: no-drop; }
.cig-list ul { text-align: right; }
.js-hardpoint { z-index: 3; }
.js-hardpoint, .cig-icon {
    display: inline-block;
    border: solid 1px #1e98df;
    border-radius: 5px;
    height: 32px;
    width: 32px;
    margin-left: 5px;
    margin-bottom: -5px;
    list-style: none;
    position: relative;
    background: url(../images/icons8-ios-filled.png) no-repeat;
    text-indent: -99999px;
    overflow: hidden;
    line-height: 32px;
}
footer .cig-icon { margin-bottom: -12px; }
.js-hardpoint[data-item-type='WeaponGun'] { background-position: -64px -64px; }
.js-hardpoint[data-item-type='Turret'] { background-position: 0px -224px; }
.js-hardpoint[data-item-sub-type='GunTurret'] { background-position: -64px -224px; }
.js-hardpoint[data-item-type='Armor'] { background-position: -96px -224px; }
.js-hardpoint[data-item-type='Shield'] { background-position: -96px -96px; }
.js-hardpoint[data-item-type='AmmoBox'] { background-position: -96px -160px; }
.js-hardpoint[data-item-type='MainThruster'] { background-position: -64px -288px; }
.js-hardpoint[data-item-type='ManneuverThruster'] { background-position: -32px -288px; }
.js-hardpoint[data-item-type='PowerPlant'] { background-position: 0px -192px; }
.js-hardpoint[data-item-type='Paints'] { background-position: 0px -192px; }
.js-hardpoint[data-item-sub-type='Cockpit_Audio'] { background-position: -32px -320px; }
.js-hardpoint[data-item-type='Container'] { background: url(../images/icons8-ios-filled-empty-box.png) no-repeat; background-position: 3px 2px; } /* TODO: Add to sprite */
.js-hardpoint[data-item-sub-type='Ammo_CounterMeasure'] { background-position: -96px -288px; }
.js-hardpoint[data-item-sub-type='Missile'],
.js-hardpoint[data-item-type='WeaponMissile'] { background-position: -32px -128px; }
.js-hardpoint label { display: none; }
.js-hardpoint span.cig-count { display: block; font-size: 10px; text-transform: uppercase; position: absolute; bottom: 0px; right: 2px; font-weight: 700; color: #fff; line-height: 10px; }
.panel-cig { background: transparent; }
.panel-cig ul, .panel-cig dl, .panel-cig ol { margin-bottom: 0px; }
.panel-cig .panel-heading { background: url(../images/shipcatalogue_sprite.png) no-repeat -80px -244px; width: 116px; height: 11px; padding: 0px; margin-left: 19px; }
.panel-cig .panel-heading h4 { margin: 0px; width: 100%; font-size: 10px; font-weight: bold; color: #fff; display: block; text-align: center; position: relative; top: 3px; text-transform: uppercase; }
.panel-cig .panel-body { background: rgba(0, 0, 0, 0.7); }
.panel-cig .panel-footer { background: rgba(0, 0, 0, 0.7); border: 0px none; }
.js-empty { display: none; }
.panel-cig .panel-footer label { text-align: center; display: block; border: 1px solid; border-radius: 5px; padding: 5px; }
.panel-cig .panel-footer label.ui-state-default { background: rgba(0, 0, 0, 0.7); }
.panel-cig .panel-footer label.ui-state-hover { background: #67cd67; }
.cig-list, .cig-iconlist { font-size: 10px; font-weight: bold; color: #4bcaff; text-transform: uppercase; padding-left: 0px; padding-right: 0px; line-height: 32px; }
.cig-list a, .cig-iconlist a { color: #4bcaff; }
.cig-list li, .cig-iconlist li { list-style: none; }
.ui-draggable-dragging { background-color: #133247; }
.ui-draggable-dragging .cig-count { display: none !important; }
.ui-state-default { background-color: #abcdef; }
.ui-state-hover { background-color: #67cd67; }
#description .panel-body { font-size: 11px; color: #76bef6; line-height: 22px; }
.js-info { font-size: 11px; color: #76bef6; line-height: 14px; }
.js-info strong { color: #c7f0ff; font-weight: 700; }
.js-info h4 { margin-top: 0px; background: transparent; }
.js-info h4.alert-danger { margin-top: 20px; }

.panel-summary {
	background: url(../images/bg-panel-summary.png) no-repeat;
	
	height: 72px;
	border: solid 1px #1e98df;
	border-radius: 5px;
	position: relative;
	
	transition: border 0.3s, box-shadow 0.3s;
	-moz-transition: border 0.3s, box-shadow 0.3s;
	-webkit-transition: border 0.3s, box-shadow 0.3s;
	-o-transition: border 0.3s, box-shadow 0.3s;
}
.panel-summary .panel-heading { padding: 0px 5px; display: table; height: 32px; width: 100%; }
.panel-summary h4 { font-weight: 700; font-size: 10px; text-transform: uppercase; margin: 0px; text-align: center; display: table-cell; vertical-align: middle; margin: 0px auto; }
.panel-summary .panel-body { color: #26e8ff; font-weight: 700; font-size: 14px; text-shadow: 0 0 12px #2aacff; text-align: center; padding: 0px; }
.panel-summary label { font-weight: 400; color: #4c768e; font-size: 10px; display: block; }

.jumbotron, .modal-content { color: #333 }


.ui-header h3 { margin: 0px; padding: 0px; line-height: 28px; font-size: 14px; color: #fff; text-transform: uppercase; white-space: nowrap; }
.ui-header small { line-height: 28px; font-size: 10px; color: #7dacd0; text-transform: none; font-weight: 700; float: right; white-space: nowrap; }


.ui-header {
    /* background: url(/images/shipcatalogue_sprite.png) no-repeat;
    background-position: 0px -33px;*/
    width: 100%;
    max-width: 538px;
    position: relative;
    margin-top: 24px;
    margin-bottom: 10px;
}

.ui-header h3 {
    margin-top: -6px;
    top: 21%;
    position: absolute;
    left: 23%;
    z-index: 1;
}
.ui-header small {
    margin-top: -6px;
    top: 21%;
    position: absolute;
    right: 8.6%;
    z-index: 1;
}
.ui-header img.cig-logo {
    width: 16%; 
    position: absolute;
    left: 3.5%;
    top: 16.5%;
    z-index: 1;
}
.ui-header img.cig-back {
    z-index: 0;
    width: 100%;
}
.ui-header cite {
    margin-top: -6px;
    font-size: 10px;
    font-weight: bold;
    color: #53b4dd;
    position: absolute;
    top: 65%;
    left: 23%;
    font-style: normal;
    text-transform: uppercase;
    z-index: 1;
}

.cig-manufacturer-icon { height: 62px; width: 84px; float: left; }

footer a { color: #fff; }
.cig-content a { color: #fff; }

.cig-center { text-align: center; }
.cig-center .row { display: inline-block; text-align: left; }










.js-scrollpane { position: absolute; padding: 10px 5px; height: 100%; top: 0px; right: 0px; }
#shipcatalogue_descscrollbarcontainer {
	background: url(../images/shipcatalogue_scrollbarbg.png) repeat-y center;
	width: 6px;
	height: 100%;
    position: relative;
}

#shipcatalogue_descscrolltopstop,
#shipcatalogue_descscrollbottomstop {
	background: #4ea6d4;
	width: 100%;
	height: 3px;
	position: absolute;
}
#shipcatalogue_descscrolltopstop { top: 0; }
#shipcatalogue_descscrollbottomstop { bottom: 0; }

#primary-pane-scrollbar {
	width: 28px;
	height: 100px;
	display: block;
	position: absolute;
	top: 15px;
	left: -11px;
}

#primary-pane-scrollbar > span {
	background: #b1d1ff;
	width: 4px;
	height: 100%;
	margin: 0 auto;
	display: block;
	
	transition: background 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, box-shadow 0.3s;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	-o-transition: background 0.3s, box-shadow 0.3s;
}

#primary-pane-scrollbar:hover > span,
.shipcatalogue_descscrollbarglow {
	background-color: white !important;
	box-shadow: 0 0 30px 1px #79cbff;
}

.shipcatalogue_scrollingcursor { cursor: pointer; }

.js-ship {
    height: 32px;
    width: 32px;
    border: solid 1px #1e98df;
    border-radius: 5px;
    position: relative;
    margin-left: 5px;
    margin-bottom: 5px;
    background: url(../images/icons8-ios-filled.png) no-repeat -1px -130px;
    display: block;
}

.js-ship label {
    white-space: nowrap;
    position: absolute;
    left: 42px;
    cursor: pointer;
    max-width: inherit;
    display: block;
}

.fs-upload-input { display: none !important; }

.cig-count0 { display: none; }
.js-info strong { width: 100px; display: inline-block; padding-right: 5px; text-align: right; }

.cig-table .cig-property { width: 40% }
.cig-table-3 .cig-equipped,
.cig-table-3 .cig-selected { width: 30% }
.cig-table-2 .cig-equipped,
.cig-table-2 .cig-selected { width: 60% }
.cig-table th { text-transform: uppercase; font-size: 10px; }
.cig-table .cig-equipped,
.cig-table .cig-selected { font-size: 11px; }
.cig-table h4 { margin: 0px; font-size: 20px; }
.cig-table h5 { margin: 0px; font-size: 14px; }
.cig-table th,
.cig-table td { text-align: right; }
.table-borderless td,
.table-borderless th { border: none !important; margin-bottom: 0px !important; }

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(255,255,255,0.1);
}



.tab-content { padding-right: 10px; }
.js-scrollpane { display: none; }

/**/