
<div class="col-md-4">
    <h2>Getting Started</h2>
    <p>Using HoloXPLOR is easy! Just follow these four simple steps and be flying your new ships in no time.</p>
    <ol>
        <li><button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#upload"><span class="glyphicon glyphicon-cloud-upload"></span> Upload Your XML</button></li>
        <li>Select your ship.</li>
        <li>Customize your loudout.</li>
        <li>Download your new Inventory XML.</li>
    </ol>
    <p>Once you have downloaded your file, you will need to place it back in your Star Citizen <em>USER</em> directory before launching the game.</p>
</div>
