
<div class="col-md-4">
    <h2>Finding your XML file</h2>
    <p>You can locate the inventory XML file in your Star Citizen USER directory.</p>
    <ol>
        <li>Browse to your Star Citizen installation directory</li>
        <li>For Live, ppen the <em>Public/USER/Database</em> directory</li>
        <li>For the PTU, open the <em>Test/USER/Database</em> directory</li>
        <li>Drag the <em>[HASH].xml</em> file onto this page</li>
        <li>Confirm the <em>url</em> matches your handle (e.g. holoxplor.space/HoloTable/alluran)</li>
    </ol>
    <p>Once your file has uploaded, you will be taken to your Hangar, where you can download any modifications you have made.</p>
</div>
