
<div id="upload" class="modal fade" role="dialog">
    <div class="ui-table">
        <div class="ui-table-cell">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Upload Inventory XML</h4>
                    </div>
                    <div class="modal-body">
                        <p>Drop your XML file here.</p>
                        <p>You can locate the inventory XML file in your Star Citizen USER directory.</p>
                        <ol>
                            <li>Browse to your Star Citizen installation directory</li>
                            <li>Open the <em>Public</em> folder if you want to edit the Live hangar, or the <em>Test</em> folder for the PTU</li>
                            <li>Open the <em>USER</em> directory</li>
                            <li>Open the <em>Database</em> directory</li>
                            <li>Drag the <em>[HASH].xml</em> file onto this page</li>
                            <li>Confirm the <em>url</em> matches your handle (e.g. holoxplor.space/HoloTable/alluran)</li>
                        </ol>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
