
<div class="col-md-4">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_donate">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="CA3VSDP39JT4G">

        <h2>Problems? Support?</h2>
        <p>This is an alpha of a tool, built for a game that is in early Alpha. As such, I'm sure there will be bugs. If you find a problem, or have an idea, you can submit them <a href="https://github.com/dolkensp/HoloXPLOR/issues" target="_github">here</a>. Please include your browser, and your XML file name when reporting.</p>
        <p>If HoloXPLOR has helped you, and you would like to support the hosting and development, You can <button type="submit" name="submit" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-credit-card"></span> Donate</button> via PayPal.</p>
    </form>
</div>
