@{
    ViewBag.Title = "Error";
}

@using (Html.BeginForm("Upload", "HoloTable", FormMethod.Post, new { id = "form-upload" }))
{ }

<hgroup>
    <h1>Error.</h1>
    <h2>An error occurred while processing your request.</h2>
</hgroup>

<p>The administrator has been notified.</p>
<p>If errors persist, please delete your inventory XML file, launch the hangar, then re-upload the file.</p>