@{
    ViewBag.Title = "Error";
}

@using (Html.BeginForm("Upload", "HoloTable", FormMethod.Post, new { id = "form-upload" }))
{ }

<hgroup>
    <h1>Error.</h1>
    <h2>An error occurred while processing your request.</h2>
</hgroup>

<p>The administrator has been notified.</p>
<p>Please try reloading the page again in a couple of seconds - as our regular deployments often cause intermittent errors while we're uploading the latest code.</p>
<p>If errors persist, please delete your inventory XML file, launch the hangar module, then re-upload the file.</p>