@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Upload", "HoloTable", FormMethod.Post, new { id = "form-upload" }))
{ }

<div class="jumbotron js-upload-inventory">
    <h1>HoloXPLOR - Alpha</h1>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <p class="lead">HoloXPLOR is your web-based alternative to the Star Citizen Holotable.</p>
            <p>To get started, drag your inventory XML file onto this page.</p>
            <p>Original concept has been taken from <a href="https://forums.robertsspaceindustries.com/profile/101352/ZaneBien-CIG" target="_rsi">Zane Bien</a>'s work, which he produced for his interview with CIG.</p>
            <p>
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#upload">Upload Your XML <span class="glyphicon glyphicon-cloud-upload"></span></button>
                <a href="@Url.Action("Hangar", "HoloTable", new { id = "db_dolkensp" })" class="btn btn-primary btn-lg">View Sample &raquo;</a>
            </p>
        </div>
        <div class="col-md-6 hidden-sm">
            <a href="http://z-design.deviantart.com/art/Star-Citizen-Roberts-Space-Industries-Ship-UI-359807242" class="thumbnail" target="_deviantart"><img src="http://pre06.deviantart.net/736b/th/pre/f/2013/075/2/2/star_citizen___roberts_space_industries_ship_ui_by_z_design-d5y7x1m.jpg" width="100%" /></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>HoloXPLOR allows you to modify your existing inventory XML files and then download the modified versions to use in Arena Commander and the Persistent Universe.</p>
        <p>All you need to do is drag your inventory XML file onto this page, and we will take care of the rest.</p>
        <p>Eventually, I hope to style everything up, so we have something that looks a bit like <a href="http://zanimation.com/cataloguedemo/" target="_concept">this</a> to work with, at least until persistence goes into the universe.</p>
    </div>
    <div class="col-md-4">
        <h2>Finding your XML file</h2>
        <p>You can locate the inventory XML file in your Star Citizen USER directory.</p>
        <ol>
            <li>Browse to your Star Citizen installation directory</li>
            <li>Open the <em>Public</em> folder if you want to edit the Live hangar, or the <em>Test</em> folder for the PTU</li>
            <li>Open the <em>USER</em> directory</li>
            <li>Open the <em>Database</em> directory</li>
            <li>Drag the <em>db_[yourhandle].xml</em> file onto this page</li>
        </ol>
        <p>Once your file has uploaded, you will be taken to your Hangar, where you can download any modifications you have made.</p>
    </div>
    <div class="col-md-4">
        <h2>Problems? Support?</h2>
        <p>This is an early Alpha, and as such, I'm sure there will be bugs. If you find a problem, or have an idea, you can submit them <a href="https://github.com/dolkensp/HoloXPLOR/issues" target="_github">here</a>.</p>
        <p>Additionally, the following pages work best when maximized, at 100% zoom level. Other sizes may be supported in future, but for now, I'm focusing on the full-screen experience, as there can be lots of information to display.</p>
        <p>If you would like to donate to support the hosting and development, you can click below.</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="CA3VSDP39JT4G">
            <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>

<div id="upload" class="modal fade" role="dialog">
    <div class="ui-table">
        <div class="ui-table-cell">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Upload Inventory XML</h4>
                    </div>
                    <div class="modal-body">
                        <p>Drop your XML file here.</p>
                        <p>You can locate the inventory XML file in your Star Citizen USER directory.</p>
                        <ol>
                            <li>Browse to your Star Citizen installation directory</li>
                            <li>Open the <em>Public</em> folder if you want to edit the Live hangar, or the <em>Test</em> folder for the PTU</li>
                            <li>Open the <em>USER</em> directory</li>
                            <li>Open the <em>Database</em> directory</li>
                            <li>Drag the <em>db_[yourhandle].xml</em> file onto this page</li>
                        </ol>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts
{

    @Scripts.Render("~/bundles/formstone")

}
