@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron js-upload-inventory">
    <h1>HoloXPLOR</h1>
    <p class="lead">HoloXPLOR is your web-based alternative to the Star Citizen Holotable.</p>
    <p><a href="@Url.Action("Hangar", "HoloTable", new { id = "db_dolkensp" })" class="btn btn-primary btn-lg">View Sample &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div id="upload" class="modal fade" role="dialog">
    <div class="ui-table">
        <div class="ui-table-cell">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Upload Inventory XML</h4>
                    </div>
                    <div class="modal-body">
                        <p>Drop your XML file here.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts
{

            @Scripts.Render("~/bundles/formstone")

            <script type="text/javascript">

                $(document).ready(function () {
                    var overlay = false;
                    var hideOverlay = 0;

                    $("html").upload({

                        action: "@Url.Action("Upload", "HoloTable")",
                        label: false, // "Upload Inventory XML",
                        dataType: "json",
                        maxSize: 0x200000,
                        multiple: false,
                        autoUpload: true,
                        maxQueue: 1,

                    }).on("filedragover.upload", function (e, file) {
                        window.clearTimeout(hideOverlay);
                        if ($('.modal-backdrop').length == 0) {
                            $('#upload').modal('show');
                        }
                    }).on("filedragleave.upload", function (e, file) {
                        window.clearTimeout(hideOverlay);
                        hideOverlay = window.setTimeout(function () {
                            $('#upload').modal('hide');
                        }, 200);
                    }).on("filestart.upload", function (e, file) {

                        // TODO: Display Upload Overlay

                    }).on("fileerror.upload", function (e, file, response) {

                        // TODO: Display Error Overlay

                    }).on("fileprogress.upload", function (e, file, percent) {

                        // TODO: Display Upload Progress

                    }).on("filecomplete.upload", function (e, file, response) {

                        window.location.href = response.UrlPath;

                    })
                });
            </script>
        }
