@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Upload", "HoloTable", FormMethod.Post, new { id = "form-upload" }))
{ }

<!--
<div class="alert alert-danger" role="alert">
    <strong>IMPORTANT:</strong> If you're playing on the live server, you need to use <a href="https://holoxplor.space" class="alert-link">holoxplor.space</a>
</div>
-->

<div class="jumbotron js-upload-inventory">
    <h1>HoloXPLOR - 2.2.0</h1>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <p class="lead">HoloXPLOR is your web-based alternative to the Star Citizen Holotable.</p>
            <p>HoloXPLOR allows you to modify your existing inventory XML file and then download the modified version to use in Arena Commander and the Persistent Universe.</p>
            <p>Original concept has been taken from <a href="https://forums.robertsspaceindustries.com/profile/101352/ZaneBien-CIG" target="_rsi">Zane Bien</a>'s work, which he produced for his interview with CIG.</p>
            <p>
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#upload"><span class="glyphicon glyphicon-cloud-upload"></span> Upload Your XML</button>
                <a href="@Url.Action("Hangar", "HoloTable", new { id = "sample" })" class="btn btn-primary btn-lg">View Sample &raquo;</a>
            </p>
        </div>
        <div class="col-md-6 hidden-sm">
            <a href="http://z-design.deviantart.com/art/Star-Citizen-Roberts-Space-Industries-Ship-UI-359807242" class="thumbnail" target="_deviantart"><img src="https://pre06.deviantart.net/736b/th/pre/f/2013/075/2/2/star_citizen___roberts_space_industries_ship_ui_by_z_design-d5y7x1m.jpg" width="100%" /></a>
        </div>
    </div>
</div>

<div class="row cig-content">
    @Html.Partial("_GettingStarted")
    @Html.Partial("_Instructions")
    @Html.Partial("_Support")
</div>
