@{
    ViewBag.Title = "Thanks";
}

@using (Html.BeginForm("Upload", "HoloTable", FormMethod.Post, new { id = "form-upload" }))
{ }

<hgroup>
    <h1>Thanks.</h1>
    <h2>Your donation is appreciated.</h2>
</hgroup>

<p>All donations go towards covering the hosting costs of HoloXPLOR.</p>